<section class="career">
  <div class="career__wrap">
    <div class="career__title">CAREER</div>
    <div class="career__content-wrap">
      <div class="career__content">
        <div class="career__image-wrap">
          <img class="career__image" src="assets/7days-logo.png" alt="company logo" />
        </div>
        <div class="career__information-wrap">
          <div class="career__information">
            <div class="career__firm">(주) 7일</div>
            <div class="career__period">2022.11 ~ (재직 중)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
