<section class="career">
  <div class="career__wrap">
    <div class="career__title">CAREER</div>
    <div class="career__content-wrap">
      <div class="career__content">
        <div class="career__image-wrap">
          <img class="career__image" src="assets/7days-logo.png" alt="company logo" />
        </div>
        <div class="career__information-wrap">
          <div class="career__information">
            <div class="career__firm">(주) 7일</div>
            <div class="career__period">2022.11 ~ (재직 중)</div>
          </div>
          <div class="career__epic-wrap">
            <div class="career__epic-title">인삼 AI (CDSS)</div>
            <div class="career__epic-period">2024년 11월 ~ 2024년 12월</div>
            <div class="career__epic-description">의사결정 지원 시스템 서비스 개발</div>
          </div>
          <div class="career__epic-wrap">
            <div class="career__epic-title">교육 플랫폼 서비스 개발</div>
            <div class="career__epic-period">2023년 2월 ~ 진행 중</div>
            <div class="career__epic-description">사내 서비스 유지보수</div>
          </div>
          <div class="career__epic-wrap">
            <div class="career__epic-title">기업 홈페이지 화면 개발</div>
            <div class="career__epic-period">2023년 1월 ~ 2023년 2월</div>
            <div class="career__epic-description">기업 홈페이지 개발</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
