.about {
  position: relative;
  box-sizing: border-box;
  width: 100%;

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__details-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }

  &__title {
    font-size: 24px;
    text-align: center;
    font-weight: 800;
  }

  &__profile-wrap {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__profile-image-wrap {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    margin: 40px 40px 0;
    border-radius: 10px;
    background-color: rgb(244, 108, 56);
  }

  &__profile-image {
    display: block;
    width: 100%;
  }

  &__name {
    font-size: 40px;
    font-weight: 700;
    padding-left: 20px;
  }

  &__description {
    display: flex;
    padding: 20px 20px 0;
    margin: 0 auto;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
  }

  &__links-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 30px;
  }

  &__link-icon-wrap {
    color: #000000;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}
