.about {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  color: #FFFFFF;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__details-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }

  &__row-wrap {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 20px;
  }

  &__title {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 800;
    line-height: 80px;
    text-decoration: none;
    padding-bottom: 40px;
  }

  &__profile-wrap {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 200px;
  }

  &__profile-image-wrap {
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
  }

  &__profile-image {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 30px;
  }

  &__name {
    font-size: 40px;
    font-weight: 700;
    padding-left: 20px;
  }

  &__description-wrap {
    display: flex;
    flex-direction: column;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    line-height: 150%;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
  }

  &__links-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 30px;
  }

  &__link-icon-wrap {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}
