.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 19, 18);
  border-bottom: 1px solid #FFFFFF;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 40px;
    position: relative;
  }

  &__home {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
  }

  &__nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  &__nav {
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: color ease-in-out 100ms;

    &:hover {
      color: #808080;
    }
  }

  &__mobile-nav-wrap {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    align-items: center;
    justify-content: center;

    &--active {
      transform: translateY(0);
    }
  }

  &__mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color ease-in-out 100ms;

    &:hover {
      color: #808080;
    }
  }

  &__hamburger {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    top: 50%;
    right: 0;
    z-index: 100;

    &--active {
      .header__line-1 {
        transition: top 300ms ease-in-out, transform 300ms ease-in-out 300ms;
        transform: rotate(-45deg);
        top: 7px;
      }

      .header__line-2 {
        opacity: 0;
      }

      .header__line-3 {
        transition: bottom 300ms ease-in-out, transform 300ms ease-in-out 300ms;
        transform: rotate(45deg);
        bottom: 7px;
      }
    }
  }

  &__line-1 {
    position: relative;
    width: 22px;
    height: 2px;
    background-color: white;
    transition: transform 300ms ease-in-out, top 300ms ease-in-out 300ms;
    top: 0;
    transform: rotate(0);
  }

  &__line-2 {
    margin-top: 5px;
    width: 22px;
    height: 2px;
    background-color: white;
  }

  &__line-3 {
    position: relative;
    margin-top: 5px;
    width: 22px;
    height: 2px;
    background-color: white;
    transition:  transform 300ms ease-in-out, bottom 300ms ease-in-out 300ms;
    bottom: 0;
    transform: rotate(0);
  }

  &--sm {
    .header {
      &__wrap {
        width: 80vw;
      }
    }
  }

  &--xs {
    .header {
      &__wrap {
        width: 100%;
      }

      &__home {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
      }

      &__hamburger {
        right: unset;
        left: 40px;
      }
    }
  }
}
