<div class="header" [ngClass]="currentDevice ? 'header--' + currentDevice : ''">
  <div class="header__wrap">
    <a class="header__home" routerLink="/">DavidClimbing</a>

    <nav class="header__nav-wrap" *ngIf="!isMobile">
      <a class="header__nav" href="#Career">Career</a>
      <a class="header__nav" href="#projects">Projects</a>
      <a class="header__nav" href="#skills">Skills</a>
      <a class="header__nav" href="#activity">Activity</a>
    </nav>

    <button *ngIf="isMobile" class="header__hamburger" [ngClass]="{'header__hamburger--active': toggleVerticalMenu}" type="button" (click)="toggleVerticalMenuBar()">
      <div class="header__line-1"></div>
      <div class="header__line-2"></div>
      <div class="header__line-3"></div>
    </button>
  </div>
</div>
