<div class="header" [ngClass]="currentDevice ? 'header--' + currentDevice : ''">
  <div class="header__wrap">
    <a class="header__home" routerLink="/">DavidClimbing</a>

    @if (!isMobile) {
      <nav class="header__nav-wrap">
<!--        <button></button>-->
        <a class="header__nav" [routerLink]="['/', 'projects']">Projects</a>
        <a class="header__nav" [routerLink]="['/', 'about']">About</a>
      </nav>
    }

    <button *ngIf="isMobile" class="header__hamburger" [ngClass]="{'header__hamburger--active': toggleVerticalMenu}" type="button" (click)="toggleVerticalMenuBar()">
      <div class="header__line-1"></div>
      <div class="header__line-2"></div>
      <div class="header__line-3"></div>
    </button>
  </div>

  @if (isCollapsed) {
    <div class="header__mobile-nav-wrap">
      <nav class="header__mobile-nav">
        <a class="header__nav" [routerLink]="['/', 'projects']">Projects</a>
        <a class="header__nav" [routerLink]="['/', 'about']">About</a>
      </nav>
    </div>
  }
</div>
