<div class="project-details">
  <button class="project-details__close" mat-dialog-close>
    <span class="material-icons">close</span>
  </button>
  <div class="project-details__wrap">
     <div class="project-details__title-wrap">
      <div class="project-details__title" [ngClass]="project?.link ? '' : 'project-details__title--disabled'">
        {{project?.title}}
        @if (project?.link) {
          <div class="project-details__link-wrap">
            <a class="project-details__link" [href]="project?.link" target="_blank">
              <span class="material-icons">open_in_new</span>
            </a>
          </div>
        }
      </div>
      @if (!project?.link) {
        <div class="project-details__disabled-text">현재 운영 중이지 않습니다.</div>
      }
    </div>

    <div class="project-details__content-wrap">
      <div class="project-details__content">
        <div class="project-details__description">
          설명 : {{project?.description}}
        </div>
        <div class="project-details__role-wrap">
          역할 :
          <ul>
            @for (role of project?.role; track role) {
              <li class="project-details__role">{{role}}</li>
            }
          </ul>
        </div>
        <div class="project-details__result-wrap">
          성과 :
          <ul>
            @for (result of project?.result; track result) {
              <li class="project-details__result">{{result}}</li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
