@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme, $typography-config) {
  $color-config: mat.m2-get-color-config($theme);

  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);

  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

  .home {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: mat.m2-get-color-from-palette($background, background);

    &__wrap {
      position: relative;
      width: 60rem;
      display: flex;
      flex-direction: row;
      gap: 150px;
      color: rgb(21, 19, 18);
      padding-top: 80px;
    }

    &__title {
      display: flex;
      margin: 20px 0;
    }

    &__main-pane {
      padding: 80px 0;
      display: flex;
      flex-direction: column;
      gap: 80px;
      flex: 1 0 0;
      overflow: hidden;
    }

    &--lg, &--md {
      .home {
        &__wrap {
          width: 70vw;
        }
      }
    }

    &--md, &--sm, &--xs {
      .home {
        &__wrap {
          flex-direction: column;
          justify-content: center;
        }

        &__profile-pane {
          margin: 0 auto;
        }

        &__main-pane {
          flex: unset;
        }
      }
    }

    &--sm {
      .home {
        &__wrap {
          width: 80vw;
        }
      }
    }

    &--xs {
      .home {
        &__wrap {
          width: 90vw;
        }

        &__main-pane {
          padding-top: 20px;
        }
      }
    }
  }
}
