.home {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  &__wrap {
    width: 50vw;
    display: flex;
    flex-direction: row;
    gap: 100px;
    color: rgb(21, 19, 18);
  }

  &__profile {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: sticky;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    padding: 20px;
    background-color: #FFFFFF;
    margin-top: 80px;
  }

  &__title {
    display: flex;
    margin: 20px 0;
  }

  &__main-pane {
    padding-top: 60px;
    display: flex;
    flex-direction: column;

  }
}
