.home {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  &__wrap {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(21, 19, 18);
  }

  &__profile-pane {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    padding: 20px;
    background-color: #FFFFFF;
  }

  &__title {
    display: flex;
    margin: 20px 0;
  }
}
