<section class="projects">
  <div class="projects__wrap">
    <a class="projects__title" [routerLink]="['/', 'projects']">PROJECTS</a>

    <div class="projects__content-wrap" #slide>
      <div class="projects__arrow-wrap">
        <button class="projects__arrow"
                *ngIf="currentPage > 1"
                (click)="movePreviousPage()">
          <span class="material-icons">chevron_left</span>
        </button>
        <button class="projects__arrow projects__arrow--next"
                *ngIf="currentPage + 1 < projects.length"
                (click)="moveNextPage()">
          <span class="material-icons">chevron_right</span>
        </button>
      </div>
      <div class="projects__card-wrap" *ngIf="loadingSignal()">
        <div class="projects__cards" [style]="styleOfLeftShiftPercentOnSlide">
          @for (project of projects; track project.title) {
            <div [style]="computedWidthOfCard" (click)="onOpenProjectDetails(project)">
              <app-project-card [project]="project"></app-project-card>
            </div>
          }
        </div>
      </div>
    </div>
    <ng-template>
      <div class="projects__mockup-cards"></div>
    </ng-template>
  </div>
</section>
