@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme, $typography-config) {
  $color-config: mat.m2-get-color-config($theme);

  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);

  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

  .projects {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    &__wrap {
      width: 100%;

      &--expanded {
        padding: 120px 40px;
        max-width: 960px;
        margin: 0 auto;
        width: unset;

        .projects__card-wrap {
          display: grid;
          flex-direction: column;
          grid-template-columns: repeat(2, 1fr);
          gap: 40px;
        }

        .projects__cards {
          display: block;
        }
      }
    }

    &__title {
      display: inline-flex;
      flex-direction: column;
      justify-content: start;
      color: mat.m2-get-color-from-palette($foreground, base);
      font-size: 80px;
      font-weight: 800;
      line-height: 80px;
      text-decoration: none;
      padding-bottom: 40px;
      margin: 0;
    }

    &__content-wrap {
      width: 100%;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
    }

    &__content {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }

    &__arrow-wrap {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      width: 100%;
      gap: 20px;
      box-sizing: border-box;
      padding-bottom: 20px;
      padding-right: 10px;
    }

    &__arrow {
      position: relative;
      background-color: transparent;
      border-radius: 50%;
      border: 3px solid mat.m2-get-color-from-palette($foreground, base);
      cursor: pointer;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;

      span {
        font-size: 40px;
        color: mat.m2-get-color-from-palette($foreground, base);
      }

      &:disabled {
        border-color: mat.m2-get-color-from-palette($background, disabled-button);
        cursor: default;

        span {
          color: mat.m2-get-color-from-palette($background, disabled-button);
        }
      }
    }

    &__card-wrap {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
    }

    &__cards {
      display: flex;
      box-sizing: border-box;
      position: relative;
      transition: transform 500ms ease-in-out;
      flex: 1 0 auto;
      flex-direction: row;
      border-radius: 15px;
      align-items: stretch;
    }

    &__card-title {
      align-self: start;
      font-size: 16px;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(244, 108, 56);
      font-weight: bold;

      &--ko {
        font-family: 'Noto Sans KR', sans-serif;
      }
    }

    &__mockup-cards {
      display: flex;
      background-color: mat.m2-get-color-from-palette($foreground, secondary-text);
      height: 100%;
      border-radius: 15px;
    }

    &__skills {
      align-self: start;
      font-size: 16px;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(197, 255, 65);
    }

    &__link-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }

    &--sm, &--xs {
      .projects {
        &__wrap {
          &--expanded {
            .projects__card-wrap {
              grid-template-columns: repeat(1, 1fr);
            }
          }
        }

        &__title {
          font-size: 60px;
        }
      }
    }

    &--xs {
      .projects {

        &__wrap {
          display: flex;
          flex-direction: column;
          overflow: visible;
        }

        &__title {
          align-items: center;
        }

        &__content {
        }

        &__arrow-wrap {
          display: none;
        }

        &__card-wrap {
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          scrollbar-width: none;
          scroll-padding-left: 30px;
          padding: 0 30px;
        }

        &__cards {
          scroll-padding-left: 40px;
        }

        &__card {
          scroll-snap-stop: always;
          scroll-snap-align: start;
        }
      }
    }
  }
}
