@use "sass:map";
@use "@angular/material" as mat;

@use "index" as components;
@use "typography" as typography;

$light-primary-palette: (50 : #E5F8FC,
        100 : #BDECF7,
        200 : #92E0F1,
        300 : #66D4EB,
        400 : #45CAE7,
        500 : #24C1E3,
        600 : #20BBE0,
        700 : #1BB3DC,
        800 : #16ABD8,
        900 : #0D9ED0,
        contrast: (
                50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: rgba(black, 0.87),
                400: rgba(black, 0.87),
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
        )
);

$light-secondary-palette: (
        50 : #EBE6FC,
        100 : #CEBFF7,
        200 : #AD95F1,
        300 : #8C6BEB,
        400 : #744BE7,
        500 : #5B2BE3,
        600 : #5326E0,
        700 : #4920DC,
        800 : #401AD8,
        900 : #2F10D0,
        A100 : #FEFEFF,
        A200 : #D2CBFF,
        A400 : #A598FF,
        A700 : #8F7FFF,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$shire-light-primary-palette: mat.m2-define-palette($light-primary-palette);
$shire-light-secondary-palette: mat.m2-define-palette($light-secondary-palette);

$shire-light-theme: mat.m2-define-light-theme(
                (
                        color: (
                                primary: $shire-light-primary-palette,
                                accent: $shire-light-secondary-palette,
                        ),
                )
);

.theme-bright {
  @include mat.all-component-colors($shire-light-theme);
  @include components.theme(
                  $shire-light-theme,
                  typography.$shire-typography-config
  );
  @include mat.form-field-density(-1);
  @include mat.button-density(-1);
}
