@use '@angular/material' as mat;

$font-family: 'Poppins', sans-serif;
$line-height: 1.35;
$letter-spacing: -.05rem;

$shire-typography-config: mat.m2-define-typography-config(
        $headline-1: mat.m2-define-typography-level(6rem, $line-height, 300, $font-family, $letter-spacing),
        $headline-2: mat.m2-define-typography-level(3.75rem, $line-height, 300, $font-family, $letter-spacing),
        $headline-3: mat.m2-define-typography-level(3rem, $line-height, 400, $font-family, $letter-spacing),
        $headline-4: mat.m2-define-typography-level(2.215rem, $line-height, 400, $font-family, $letter-spacing),
        $headline-5: mat.m2-define-typography-level(1.5rem, $line-height, 400, $font-family, $letter-spacing),
        $headline-6: mat.m2-define-typography-level(1.375rem, $line-height, 500, $font-family, $letter-spacing),
        $subtitle-1: mat.m2-define-typography-level(1.25rem, $line-height, 400, $font-family, $letter-spacing),
        $subtitle-2: mat.m2-define-typography-level(1.125rem, $line-height, 400, $font-family, $letter-spacing),
        $body-1: mat.m2-define-typography-level(1rem, $line-height, 400, $font-family, $letter-spacing),
        $body-2: mat.m2-define-typography-level(.875rem, $line-height, 400, $font-family, $letter-spacing),
        $caption: mat.m2-define-typography-level(.688rem, $line-height, 400, $font-family, $letter-spacing),
        $button: mat.m2-define-typography-level(.875rem, $line-height, 500, $font-family, $letter-spacing),
);
