<div class="skills" [ngClass]="currentDevice ? 'skills--' + currentDevice : ''">
  <div class="skills__wrap">
    <div class="skills__title">SKILLS</div>

    <div class="skills__content-wrap">
      <div class="skills__languages">
        <div class="skills__language-label">
          Programming Languages
        </div>
        <div class="skills__language-name-wrap">
          <code class="skills__language-name">Typescript</code>
          <code class="skills__language-name">JavaScript</code>
          <code class="skills__language-name">Python</code>
        </div>
      </div>
      <div class="skills__languages">
        <div class="skills__language-label">
          Web Frameworks
        </div>
        <div class="skills__language-name-wrap">
          <code class="skills__language-name">Angular</code>
          <code class="skills__language-name">React</code>
        </div>
      </div>

      <div class="skills__languages">
        <div class="skills__language-label">
          Database
        </div>
        <code class="skills__language-name">MySQL</code>
      </div>

      <div class="skills__languages">
        <div class="skills__language-label">
          Tools
        </div>
        <div class="skills__language-name-wrap">
          <code class="skills__language-name">AWS</code>
        </div>
      </div>
    </div>
  </div>
</div>
