.skills {
  position: relative;

  &__wrap {

  }

  &__title {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 800;
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 40px;
  }

  &__languages {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 20px;
  }

  &__language-icon-wrap {
    width: 220px;
  }

  &__language-icon {

  }
}
