<div class="skills">
  <div class="skills__wrap">
    <div class="skills__title">SKILLS</div>

    <div class="skills__content-wrap">
      <div class="skills__languages">
        <div class="skills__language-icon-wrap">
          <div class="skills__language-icon"></div>
          Programming Languages
        </div>
        <div class="skills__language-names">
          Typescript, JavaScript, Python
        </div>
      </div>
      <div class="skills__languages">
        <div class="skills__language-icon-wrap">
          <div class="skills__language-icon"></div>
          Web Frameworks
        </div>
        <div class="skills__language-names">
          Angular, React
        </div>
      </div>

      <div class="skills__languages">
        <div class="skills__language-icon-wrap">
          <div class="skills__language-icon"></div>
          Database
        </div>
        <div class="skills__language-names">
          MySQL
        </div>
      </div>

      <div class="skills__languages">
        <div class="skills__language-icon-wrap">
          <div class="skills__language-icon"></div>
          Tools
        </div>
        <div class="skills__language-names">
          AWS
        </div>
      </div>
    </div>
  </div>
</div>
