<section class="activities" [ngClass]="currentDevice ? 'activities--' + currentDevice : ''">
  <div class="activities__wrap">
    <h2 class="activities__title">ACTIVITY</h2>

    <div class="activities__content">
      <div class="activities__card">
        <div class="activities__activity-title">요즘 IT 번역 활동 <span>(2024.11 ~ 현재)</span></div>
        <ul class="activities__activity-description">
          <li><a class="activities__link" target="_blank" href="https://yozm.wishket.com/magazine/detail/2838/">Redis와 SQLite 아키텍처 비교 번역</a></li>
          <li><a class="activities__link" target="_blank" href="https://yozm.wishket.com/magazine/detail/2853/">파이썬 비동기는 성능 향상의 답이 아닙니다</a></li>
          <li><a class="activities__link" target="_blank" href="https://yozm.wishket.com/magazine/detail/2872/">Python 3.13 성능 개선 관련 기술 번역</a></li>
          <li><a class="activities__link" target="_blank" href="https://yozm.wishket.com/magazine/detail/2902/">웹소켓으로 AWS 비용 10억을 날리고 얻은 교훈</a></li>
          <li><a class="activities__link" target="_blank" href="https://yozm.wishket.com/magazine/detail/2918/">비동기/대기보다 스레드가 유리한 이유</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
