<section class="activities">
  <div class="activities__wrap">
    <div class="activities__title">ACTIVITY</div>

    <div class="activities__content">
      <div class="activities__card">
        <div class="activities__activity-title">요즘 IT 번역 활동 - 2024.11 ~ (현재)</div>
        <ul class="activities__activity-description">
          <li>Redis와 SQLite 아키텍처 비교 번역</li>
          <li>Python 3.13 성능 개선 관련 기술 번역</li>
          <li>1,000명 이상의 독자가 활용한 기술 자료 번역</li>
        </ul>
      </div>
    </div>
  </div>
</section>
