.activities {


  &__wrap {

  }

  &__title {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 800;
    line-height: 80px;
    text-decoration: none;
    padding-bottom: 40px;
  }

  &__content {
    display: flex;
  }

  &__card {

  }

  &__activity-title {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;

    span {
      color: #808080;
      font-size: 1rem;
    }
  }

  &__activity-description {
    font-size: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 15px;

    li {
      transition: transform ease 200ms;
      cursor: pointer;
      color: #FFFFFF;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #FFFFFF;
  }

  &--sm, &--xs {
    .activities {
      &__title {
        font-size: 60px;
      }
    }
  }
}
