@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme, $typography-config) {
  $color-config: mat.m2-get-color-config($theme);

  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);

  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

  .activities {
    position: relative;
    width: 100%;

    &__wrap {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }

    &__title {
      display: inline-flex;
      flex-direction: column;
      justify-content: start;
      color: mat.m2-get-color-from-palette($foreground, base);
      font-size: 80px;
      font-weight: 800;
      line-height: 80px;
      text-decoration: none;
      padding-bottom: 40px;
      margin: 0;
    }

    &__content {
      display: flex;
    }

    &__card {

    }

    &__activity-title {
      color: mat.m2-get-color-from-palette($foreground, base);
      font-size: 20px;
      font-family: 'Noto Sans KR', sans-serif;

      span {
        color: mat.m2-get-color-from-palette($foreground, secondary-text);
        font-size: 1rem;
      }
    }

    &__activity-description {
      font-size: 1rem;
      font-family: 'Noto Sans KR', sans-serif;
      padding-left: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      li {
        transition: transform ease 200ms;
        cursor: pointer;
        color: mat.m2-get-color-from-palette($foreground, base);

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__link {
      text-decoration: none;
      color: mat.m2-get-color-from-palette($foreground, base);
    }

    &--sm, &--xs {
      .activities__title {
        font-size: 60px;
      }
    }

    &--xs {
      .activities__title {
        align-items: center;
      }

      .activities__card {
        margin: 0 auto;
      }
    }
  }
}
