@use "@angular/material" as mat;

@use "./theme/dark" as dark-theme;
@use "./theme/bright" as bright-theme;
@use "./theme/typography" as typography;

@use "./theme/index" as components;

@include mat.core();
@include mat.all-component-bases(dark-theme);

html, body {
  height: 100%;
  min-height: 100%;
  //background-color: theme(background);
  //background-color: rgb(21, 19, 18);
}

html {
  font-family: 'Noto sans KR', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
}
