@use "@angular/material" as mat;

@use "./theme/dark" as dark-theme;
@use "./theme/bright" as bright-theme;
@use "./theme/typography" as typography;

@use "./theme/index" as components;

@include mat.core();
@include mat.all-component-bases(dark-theme);

html, body {
  height: 100%;
  min-height: 100%;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}
